<strong>Olá, {{deliveryman}}</strong>
<p>A entrega do produto <strong>{{ product }}</strong> no endereço <strong> Rua: {{ street }}, {{ number }}, {{ complement }}, {{ zip_code }}, {{ city }}, {{ state }} </strong>
foi cancelada.</p>
