<strong>Olá, {{deliveryman}}</strong>
<p>Há uma nova encomenda esperando para ser entregue!</p>
<p>
    <strong>Produto: </strong> {{ product }} <br />
    <strong>Cliente: </strong> {{ recipients }} <br />
    <br />
    <strong>Endereço:</strong> Rua: {{ street }}, {{ number }}, {{ zip_code }}, {{ city }}, {{ state }}
</p>
